/* .container-client{
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
} */
.clients{
    width: 100%;
    padding: 100px 0;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    
    
}
col-3{
    width: 25%;

}
.client{
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}
.client h1{
    font-style: 45px;
}
.client p {
    font-style: 18px;
    font-weight: 400;
    margin-top: 10px;
}
