.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
}
.navber_text{
    display: flex;
    height: 60px;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}
.logo{
    width: 40%;   
}
.logo img{
    width: 220px;
}
.navber_ul{
    width: 60%;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
.navber_ul li a{
    text-decoration: none;
    color: white;
    padding: 0 15px;
    font-weight: 800;
    text-transform: uppercase;
}